body {
	background: url("../images/jungle.jpg") no-repeat;
	font-family: 'Quattrocento', serif, arial;
	background-size: cover;


}
.container {
	margin: 20px auto;
	width: 800px;
	background-color: rgba(150,150,150,0.85); 
	padding: 40px;
	text-align: center;
	border-radius: 4%;
	
}


h1 {
	font-size: 100px;
	margin: 15px 0 100px 0;
	font-family: 'Kaushan Script', cursive, arial;
	text-shadow: 1px 4px #555252;

}

p {
	font-size: 28px;
	margin: 30px;
	text-align: left;
}

#underScores {

	font-weight: bold;
	font-size: 55px;
	margin-bottom: 100px;
	text-align: center;
	letter-spacing: 8px;
}

button {
	padding: 15px;
	color: white;
	background: #1B62C3;
	border-style: none;
	border-radius: 4%;
	cursor: pointer;
	transition-duration: 0.4s;
	box-shadow: 2px 2px 4px 0px #555252;
}

button:hover {
	background: #1B92C3;
}



#message {
	height: 10px;
	color: red;
	text-shadow: 1px 1px black;
	font-size: 30px;
}
